{% extends 'base.html' %}

{% block content %}
<div class="bg-light py-5">
    <div class="container py-5 ">
      <div class="row mb-4">
        <div class="col-lg-12"  style="text-align:center;">
          <h2 class="display-4 font-weight-light">Our Team</h2>
          <p class="font-italic text-muted">Vision is created by us and is inspired from <a href="https://github.com/imadtoubal/Pytorch-Flask-Starter">Pytorch-Flask-Starter</a> app. The source code for the Vision can be found <a href="https://github.com/Radion-AI/vision">here</a>.</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-6 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/static/img/vishwajeet.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Vishwajeet Pratap Singh</h5><span class="small text-uppercase text-muted"><a href="https://github.com/Radion-AI">Radion AI</a></span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/vishwajeet.pratapsingh.9" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/Vishwaj16510763?s=08" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/vpsingh22" class="social-link"><i class="fa fa-github"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/vishwajeet-singh-5a1b7812b" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-6 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/static/img/Happy_Singh.jpeg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Happy Singh</h5><span class="small text-uppercase text-muted"><a href="https://github.com/Radion-AI">Radion AI</a></span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/hs1721" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/hsingh0805" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/hs0805" class="social-link"><i class="fa fa-github"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/hs0805" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
      </div>
    </div>
  </div>
{% endblock %}